/vendor/
node_modules/
npm-debug.log
yarn-error.log
*.log

# Laravel & Builds
bootstrap/compiled.php
/bootstrap/ssr
public/storage
public/hot
/public/build
/storage/pail

# Environment files
.env
.env.*
!.env.example

# Database dumps & local databases
*.sql
*.sqlite
*.sqlite-journal
*.dump

# Certificates & Private Keys
*.pem
*.key
*.crt
*.pfx
*.p12

# Editor & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
.phpunit.result.cache
.phpactor.json
auth.json
Homestead.yaml
Homestead.json
/.vagrant