.content
{        
    position: relative;
    font-weight: 1;
    font-style: normal;
    color: white;
    padding: 0 0 1rem;
}
body.no-scroll
{
  overflow: hidden;
}
@media (max-width: 699px)
{
  body.nav-open
  {
    overflow: hidden;
  }
}