.hero
{    
    font-size: 1.7rem;
    padding: 0rem 1rem 2rem;
    line-height: 3em;
    display: grid;
    max-height: 50dvh;
}
.hero-logo-container
{
    padding: 0rem 1rem 0rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    grid-area: 1/1;
}
@media (min-width: 800px)
{
    .hero-logo-container
    {
        justify-content: center;
    }
}
.hero-logo
{
    position: relative;
    max-width: 80%;    
    height: auto;
    max-height: calc(50dvh - 2rem);
    aspect-ratio: auto;
    object-fit: contain;
    opacity: 1.0;
    color: white;
    --logo-secondary-color: var(--orange);
    --frame-outline-color: var(--bright-blue);
}
.hero-logo path
{
    /* stroke: var(--bright-blue); */
    /* stroke-width: px; */
    /* paint-order: stroke fill; */
}
.hero-text-container
{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    padding: 0rem 1rem 0rem;
    grid-area: 1/1; 
}
.hero h1
{
    font-weight: 400;
}
@keyframes scrolling-1
{
    0%
    {
        transform: translate(100vw, 100%);
        opacity: 0.0;
    }
    20%
    {
        opacity: 0.0;
    }
    50%
    {
        opacity: 1.0;
    }
    80%
    {
        opacity: 0.0;
    }
    100%
    {
        transform: translate(-100%, -200%);
        opacity: 0.0;
    }
}
@keyframes scrolling-2
{
    0%
    {
        transform: translate(100vw, -250%);
        opacity: 0.0;
    }
    20%
    {
        opacity: 0.0;
    }
    50%
    {
        opacity: 1.0;
    }
    80%
    {
        opacity: 0.0;
    }
    100%
    {
        transform: translate(-100%, 150%);
        opacity: 0.0;
    }
}
.hero-subtitle-1, .hero-subtitle-2
{
    position: absolute;
    color: var(--bright-blue);
    top: 50%;
    /* transform: translate(0%,-50%); */
}
.hero-subtitle-1
{
    animation: 8s linear 0s infinite alternate running scrolling-1;
}
.hero-subtitle-2
{
    animation: 10s linear 0s infinite alternate running scrolling-2;
}
.hero-subtitle p
{
    line-height: 1.2em;
    text-wrap: nowrap;
}
.page-section.carousel
{
    margin: 0rem 0 3rem 1rem;
}
.page-section.top-tile-grid
{
    margin: 0 0 3rem;
}
@media (min-width: 700px)
{
    .hero
    {    
        font-size: 3rem;
        padding: 0rem 1rem 1rem;
        line-height: 3em;
    }
}