.dashboard-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;    
    box-sizing: border-box;
    margin: 2rem 0rem 1rem;
    width: 100%;
}
.dashboard-nav-content-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.dashboard-tabs-container
{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 1rem;
}
.profile-boxes-container
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.profile-boxes-container .main-info-box.sticky
{
    /* margin: 0 auto; */
    width: 100%;
}
.dashboard-tab.link-button
{
    border: 2px solid var(--grey-yellow);
    border-right: none;
    flex-basis: clamp(10px, 16.777%, 150px);
    flex-grow: 2;
    padding: 0.7rem 0.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
.dashboard-tab, .dashboard-tab:link, .dashboard-tab:visited
{
    text-decoration: none;
}
.dashboard-tab i
{
    color: var(--grey-yellow);
    position: relative;
}
.dashboard-tab p
{
    font-size: 0.8em;
}
.content:not(.touch-device) .dashboard-tab.link-button:hover
{
    border-color: var(--grey-yellow);
    border-right: none;
}
.content:not(.touch-device) .dashboard-tab.link-button:hover i
{
    color: var(--pale-yellow);
}
.dashboard-tab.selected
{
    border: 2px solid var(--grey-yellow);
    border-right: none;
    background: var(--lavender-gradient);
}
.content .dashboard-tabs-container .dashboard-tab.link-button:last-of-type
{
    border-right: 2px solid var(--grey-yellow);;
}
.dashboard-tab.selected i
{
    color: white;
} 
.dashboard-tab.selected p
{
    font-weight: 400;
}
.notice-light
{
    position: absolute;
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: cyan;
    display: none;
}
.convo-avatar .notice-light
{
    height: 20%;
}
.view-all-link
{
    position: relative;
}
.has-new-notifications .activity .notice-light, 
.has-new-notifications .notice-light.notifications-preview,
.has-new-mail .mail .notice-light, .has-new-mail.convo-avatar .notice-light
{
    display: block;
}
.activity .notice-light
{    
    bottom: -10%;
    right: 0%;
}
.mail .notice-light, .convo-avatar .notice-light
{    
    bottom: 0%;
    right: -15%;
}
.convo-avatar .notice-light
{
    bottom: 0%;
    right: 0%;
}
.notice-light.notifications-preview
{
    top: 50%;
    right: -20%;
    transform: translateY(-55%);
}
/*---PROFILE/INFO BOX---*/
.main-info-delete-container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.delete-button:hover
{
    background: var(--red-gradient);
}
.dashboard-container .main-info-box
{    
    z-index: 1;
}
.main-info-box.stretch
{
    justify-content: center;
}
.main-info-box .text-fields-container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile-avatar-container
{
    max-width: 50vw;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.avatar-section
{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
}
.avatar-button
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.1);
    border: none;
    text-decoration: underline;
    color: var(--pale-yellow);
    font-size: 1.2rem;
}
.avatar-button.public-corner
{
   width: 38px;
   height: 38px;
   border-width: 2px;
}
.content.touch-device .avatar-button.public-hover
{
    display: none;
}
.content:not(.touch-device) .avatar-button.public-corner
{
    display: none;
}
.content:not(.touch-device) .avatar-button, .content:not(.touch-device) .avatar-button:hover
{    
    border: none;
}
.content:not(.touch-device) .avatar-button
{
    opacity: 0;
}
.content:not(.touch-device) .avatar-button:hover
{
    opacity: 1;
}
.heading-profile-container.public-profile
{
    margin: 2rem 0 0;
}
.public-profile .info-section
{
    flex-grow: 2;
    /* width: clamp(1px, 100%, 300px); */
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
@media (min-width: 450px)
{
    .heading-profile-container.public-profile
    {
        margin: 2rem 1rem 1rem;
    }
}
@media (min-width: 700px)
{    
    .heading-profile-container
    {
        max-width: calc(100svw - 80px - 4rem);
    }
    .heading-profile-container.public-profile
    {
        max-width: calc(100svw - 3rem);
    }
    .heading-profile-container.public-profile
    {
        padding: 0;
    }
    .public-profile .info-section
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .public-profile .main-info-box
    {
        justify-content: space-between;
    }
}
/*---BIO---*/
.rte-container
{
    border: 2px solid var(--grey-yellow);
    /* max-height: 100svh; */
    height: fit-content;
}
.rte-container.read-only
{
    max-height: none;
}
.left-item, .right-item
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.left-item
{
    left: 1rem;
}
.right-item
{    
    right: 1rem;
}
.image-crop-container-container
{
    background-color: rgba(0.0,0.0,0.0,0.7);
    position: fixed;
    width: clamp(300px, 100svw, 100svw);
    height: clamp(300px, 100svh, 100svh);
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor:zoom-out;
}
.image-crop-container-container h3
{
    color: var(--pale-yellow);
    pointer-events: none;
    user-select: none;
}
.image-crop-container
{
    position: relative;
    flex-basis: 300px;
    aspect-ratio: 1/1;
    background-color: transparent;
    overflow: hidden;

    -webkit-mask-image: radial-gradient(circle, white 0%, white calc(70% + 1px), transparent calc(70% + 1px));
    /* mask-image: radial-gradient(circle, white 0%, white calc(50%), transparent calc(50%)); this is too small */
    mask-image: radial-gradient(circle, white 0%, white calc(70% + 1px), transparent calc(70% + 1px)); /*this shows the crop circle at its border*/
}
.image-crop-circle
{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid var(--pale-yellow);
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;
}
.image-crop-container .zoomed-image
{    
    background-color: transparent;
    z-index: 9;
    position: absolute;
    cursor:all-scroll;
}
.image-crop-container .zoomed-image.dragging
{
    cursor:grabbing;
}
.multi-field-container, .image-field
{
    border: 1px solid white;
    padding: 1rem;
    width: clamp(100px, 100%, 400px);
}
.image-field
{
    margin: 1rem 0;
    /* max-width: 400px; */
    width: 100%;
    overflow: hidden;
}
.image-field input
{
    flex-grow: 2;
    max-width: 250px;
    font-size: 1rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.main-label-container, .image-field .remove-input-container,
.alt-input-container
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.multi-field-container .sub-field
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-label-container button, .image-field button
{
    padding: 0 0.5rem;
}
.main-label-container h3
{
    text-wrap: nowrap;
}
.main-label-container p
{
    display: none;
    font-size: 0.8em;
    margin: auto;
    color: var(--grey-yellow);
    text-wrap: nowrap;
}
.alt-input-container
{
    justify-content: stretch;
}
.alt-input-container label
{
    margin: auto 0;
    text-wrap: nowrap;
}
.alt-input-container input
{
    min-width: 100px;  
    max-width: 100%;
}
.img-preview-container
{
    margin-top: 1rem;
    width: 100%; 
    height: 100px;
}
.img-preview-container img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
    aspect-ratio: 3/2;
}
.multi-field-container.dragged-over
{
    background: var(--lavender-gradient);
}
.image-field.dragged-over
{
    background: var(--blue-gradient);
}
.main-info-box form, .rte-form
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    top: 0;
    left: 0;
}
.heading-profile-container
{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
@media (min-width: 450px)
{    
    .dashboard-container
    {
        margin: 2rem 1rem 1rem;
        width: calc(100% - 2rem);
    }
    .main-label-container p
    {
        display: inline-block;
    }
}
@media (min-width: 700px)
{
    .main-info-box form, .rte-form
    {
        width: 100%;
    }
    .text-fields-container .inline-form-field
    {
        width: clamp(1px, 100%, 800px);
        margin: 0 0 0 auto;
    }
    .dashboard-nav-content-container
    {
        flex-direction: row;
        justify-content: stretch;
        gap: 1rem;
    }
    .dashboard-container .tiles-container
    {
        padding: 0;
    }
    .heading-profile-container
    {
        flex-grow: 2;
    }
    .main-info-box
    {
        flex-direction: row;
    }
    .info-section form
    {
        height: 100%;
        justify-content: space-between;
    }
    .dashboard-tabs-container
    {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 1rem;
        align-self: flex-start;
        margin: 0;
        flex-basis: 80px;
    }
    .dashboard-tab.link-button
    {
        border: 2px solid var(--grey-yellow);
        border-bottom: none;
        width: 100%;
    }    
    .dashboard-tab.link-button.selected
    {
        border: 2px solid var(--grey-yellow);
        border-bottom: none;
        background: var(--lavender-gradient);
    }
    .content:not(.touch-device) .dashboard-tab.link-button:hover
    {
        border: 2px solid var(--grey-yellow);
        border-bottom: none;
    }
    .content .dashboard-tabs-container .dashboard-tab.link-button:last-of-type
    {
        border-bottom: 2px solid var(--grey-yellow);;
    }

}
@media (min-width: 800px)
{
    .main-info-box
    {
        flex-direction: column;
        /* flex-basis: clamp(20px, 50%, 500px); */
        height: fit-content;
    }
    .public-profile .main-info-box
    {
        /* max-width: 400px; */
    }
    .main-info-box.sticky
    {        
        /* width: clamp(1px, 400px, 50%); */        
        top: 0;
        position: sticky;        
    }
    .main-info-box.stretch
    {
        width: 100%;
        margin-left: 0;
        flex-basis:auto;
    }
    .main-info-box.stretch form, .rte-form
    {        
        width: 100%;        
        flex-direction: row;
    }
    .profile-boxes-container
    {
        gap: 1rem;
        flex-direction: row;
    }
    .profile-boxes-container .main-info-box.sticky,
    .profile-boxes-container .rte-container 
    {
        min-width: 0; /* CRITICAL: Allows the box to shrink below content size */
        
    }
    .profile-boxes-container .rte-container
    {
        flex-basis: clamp(1px, 70%, 4000px);
    }
    .profile-boxes-container .main-info-box.sticky
    {
        flex-basis: clamp(1px, 400px, 50%);
    }
    .multi-field-container
    {
        width: 50%;
    }
    .dashboard-container .profile-boxes-container
    {
        flex-direction: column;
    }
    .dashboard-container .main-info-box.sticky
    {
        flex-direction: row;
        max-width: none;
        position: relative;
        justify-content: space-between;
    }
}
@media (min-width: 1050px)
{
    .dashboard-container .profile-boxes-container
    {
        flex-direction: row;
    }
    .dashboard-container .main-info-box.sticky
    {
        flex-direction: column;
        max-width: 400px;
        position: sticky;
    }
}
.activity-box-container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 1200px)
{
    .activity-box-container
    {
        flex-direction: column-reverse;
    }
}
.notifications-comments-container, .posts-follows-container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-info-box .tiles-container
{
    display: grid;
    gap: 1rem;
    --tiles-per-row: 1;
    grid-template-columns: repeat(var(--tiles-per-row), minmax(60px,1fr));
}
@media (min-width: 600px)
{
    .main-info-box .tiles-container
    {
        --tiles-per-row: 2;
    }
    .main-info-box .work-tile
    {
        grid-column: span 1;
    }
}
@media (min-width: 900px)
{
    .notifications-comments-container, .posts-follows-container
    {
        flex-direction: row;
    }
    .notifications-comments-container .main-info-box,    
    .posts-follows-container .main-info-box
    {
        flex-basis: calc(50% - 0.5rem);
        position: sticky;
        top: 0;
    }
    .main-info-box .tiles-container
    {
        --tiles-per-row: 1;
    }
}
@media (min-width: 1200px)
{
    .main-info-box .tiles-container
    {
        --tiles-per-row: 2;
    }
}