.work-tile
{
    user-select: none;
    font-size: 0.9em;
}
.content.touch-device
{
    font-size: 1.1em;
}
.work-tile img
{
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.info-panel
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}
.panel-top, .panel-bottom
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.0);
}
.panel-top
{
    flex-direction: column;    
    padding: 0 0.6rem;
}
.panel-bottom
{
    gap: 1rem;    
    padding: 0 0.6rem 0.3rem;
}
.work-tile:hover .info-panel, .work-tile:focus-within .info-panel, 
.touch-device .info-panel
{
    opacity: 1;     
}
.info-item
{
    font-size: 1.1em;
    font-weight: 300;
    width: 100%;
}
.info-item.title
{
    font-size: 1.3em;
    white-space: nowrap;  
    overflow: hidden;   
    text-overflow: ellipsis;
    min-width: 0;
}
.info-item.subtitle
{
    color:rgb(220, 220, 207);
    font-size: 1.0em;
    font-weight: 350;
    display: -webkit-box;   
    line-clamp: 2;        
    -webkit-line-clamp: 2;         
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.info-item i 
{
    position: relative;
    top: 5px;
}
.link-container a
{
    gap: 0.5rem;
    margin: 0.2rem 0 0;
}
.link-container a
{
    display: flex;    
    flex-direction: row;
    width: fit-content;
}
.post-link, .post-link:link, .post-link:visited
{
    color: var(--pale-yellow);
    text-decoration: none;
    cursor:pointer
}
.post-link span
{
    text-decoration: underline;
}
.work-tile .user-link > span.username 
{
    font-size: 0.9em;
    max-width: 300px;
}