.user-link
{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.2rem 0 0;
    color: white;
    vertical-align: -45%;
}
.avatar-container
{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
}
.user-link span
{
    text-decoration: underline;
    font-weight: 300;
}
