.form-container
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap:1.5rem;
    justify-content: center;
    margin: 0 auto;
}
.form-container.limited-width
{
    width: clamp(1px, 100%, 400px);
}
.form-field.limited-width
{
    width: clamp(1px, 100%, 250px);
}
.field-groups-container
{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
.form-container h2
{
    color: white;
    text-align: center;
}
.social-login-options
{
    position: relative;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey-yellow);
    padding: 1rem 0 0rem;
    gap: 1.5rem;
    flex-basis: 50%;
    flex-grow: 5;
    margin: 0 auto;
    justify-content: start;
    align-items: center;
}
.email-oauth-container form
{
    padding-bottom: 1.5rem;
    border-bottom: var(--grey-yellow) solid 1px;
}
.form-container h2, .form-container h3
{
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
}
.social-login-options img
{
    max-height: 20px;
    width: auto;
}
.social-login-options h2
{
    font-size: 1.2em;
}
.social-login-options button
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.social-login-options .icon-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .social-login-options button.small-text
{
    font-size: 0.85em;
} */
.button-content
{
    width: fit-content;
    text-wrap: nowrap;
}
.field-group, .field-group form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.form-field
{
    max-width: 100%;
}
.field-groups-container .form-field
{
    width: fit-content;
    margin: 0 auto;
}
.label-input-container
{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.label-input-container
{
    width: 100%;
}
.form-field.text-area
{
    width: 100%;
}
.form-field.form-field.text-area textarea
{    
    height: 200px;
    padding: 0.5em;
}
.form-field input
{
    width: 100%;
}
.form-field .side-text-and-input-container
{
    display: flex;
    gap: 0em;
    justify-content: space-between;
}
.form-field .side-text-and-input-container span, .form-field .side-text-and-input-container input
{
    width: fit-content;
    flex-grow: 4;
    text-wrap: nowrap;
}
.form-container form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
/* main
{    
    overflow-x: hidden;
} */
@media (min-width: 600px)
{  
    .field-groups-container, .field-group, .form-container .field-groups-container form
    {
        max-width: none;
    }
    .form-container form .form-field
    {
        margin: 0;
    }
    .field-groups-container .form-field
    {
        width: 100%;
    }
    .form-container form .form-field.text-area
    {
        flex-basis: 60%;
        flex-grow: 10;
        min-width: 400px;
        justify-content: start;
    }
    .field-groups-container
    {
        flex-direction: row;
        gap: 1rem;
        width: auto;
        max-width: none;
        margin: 0 auto;
    }
    .field-groups-container .field-group:not(.social-login-options)
    {
        border-bottom: none;
        padding-bottom: 0rem;
        padding-right: 1rem;
    }
    .field-groups-container form:not(:last-child), 
    .field-groups-container .field-group:not(:last-child)
    {        
        border-right: var(--grey-yellow) solid 1px;
    }
    .social-login-options
    {
        font-size: 0.9rem;          
        border-top: none;
        padding: 0 0 1.5rem;
    }    
}
/*~~~~~~~~~~~USER AGREEMENT~~~~~~~~~~~~*/
.user-agreement-container
{
    position: relative;
    height: 300px;
    max-width: 600px;
    background: var(--black-gradient);
    z-index: 0;
}
.user-agreement
{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid var(--bright-blue);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--transparent-black) var(--bright-blue);  
}
.user-agreement-logo
{
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--blue);
    --logo-secondary-color: var(--bright-blue);
    opacity: 0.55;
    z-index: -1;
}
.user-agreement .article-text
{
    z-index: 2;
}